@model PWABlog.ViewModels.Admin.AdminPainelViewModel


<!-- Default box -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Painel Administrativo</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Autores</th>
                    <th>Categorias</th>
                    <th>Postagens</th>
                    <th>Etiquetas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

